# <b><center><u><font color="blue">STRINGS AND LEN</font></u></center></b>

### <b><font color="brown">STRINGS</font></b>

- Letters and numbers in a string are called elements.
- Strings are immutable.

### <b><font color="green">LEN</font></b>

- Built-in Python function or method
- Counters the number of elements in a string, list, set or dictionary.

```python

greet = "Hello World"
len(greet)
```
```
11
```

In [1]:
cat = "meow" ; dog = "woof" ; parrot = 'hello'
print(cat, dog, parrot)
print()
print(cat, dog, parrot, sep = ",")
print()
print(cat, dog, parrot, sep = " - ")
print()
print(cat, dog, parrot, end = "!!!!")

meow woof hello

meow,woof,hello

meow - woof - hello

meow woof hello!!!!

In [2]:
day = "GOOD DAY"
night = "good night"

len(day)

8

In [3]:
# TAB LIST ALL METHODS AND FUNCTIONS
day.lower()

'good day'

In [4]:
night.upper()

'GOOD NIGHT'

In [5]:
night.capitalize()

'Good night'

In [6]:
# CONCATENATION
lang = "Python"
"This is a cool " + lang + " course!"

'This is a cool C# course!'

In [7]:
num = 20
"lecture " + str(num + num) + " is on strings"

'lecture 40 is on strings'

In [13]:
"20" + "50"

type(eval)

builtin_function_or_method

In [14]:
type(eval("20"))

int

In [15]:
eval("20") + eval("50")

70

In [16]:
eval("20 * 100")

2000

In [9]:
check = "a a a b  b b B c"

In [17]:
check.count("B")

1

In [18]:



cosmos = ""

In [11]:
messy = """PLEASE #@ UP!!! #@ THIS ---- MESSY ---- DOCSTRING
WHICH //CAN HAVE// MULTPLE LINES
OF STRING//!!!"""


messy.replace("#@", "").replace("!!!", "").replace("----", "").replace("//", " ").replace("\n", " ").lower()

'please  up  this  messy  docstring which  can have  multple lines of string '

In [19]:
pet = "cat"

# INDEXING STARTS AT ZERO
pet[0]

'c'

In [20]:
pet[1]

'a'

In [21]:
pet[2]

't'

In [22]:
pet[0] = "b"

TypeError: 'str' object does not support item assignment

In [23]:
print(night)

# INDEXING STARTS AT ZERO FOR ELEMENTS IN A SEQUENCE
night[0]

good night

'g'

In [24]:
night[3]

'd'

In [ ]:
# SLICING
night[5:]

In [27]:
code = "P-Y-T-H-O-N-I-C"

print(code)
# STRIDE

P-Y-T-H-O-N-I-C

In [28]:
code[0::2]

'PYTHONIC'

In [29]:
code[1::2]

'-------'

In [30]:
words = "I saw a cat jump over the moon and into the clouds"
words.split()[3:8]

['cat', 'jump', 'over', 'the', 'moon']

In [31]:
print(words.split())

['I', 'saw', 'a', 'cat', 'jump', 'over', 'the', 'moon', 'and', 'into', 'the', 'clouds']

In [34]:
print()

In [33]:
print(len(words.split()))

12

In [35]:
words.split()[3:12:2]

['cat', 'over', 'moon', 'into', 'clouds']

In [36]:
words.split()[3:8]

['cat', 'jump', 'over', 'the', 'moon']

In [37]:
words.split()[::-2]

['clouds', 'into', 'moon', 'over', 'cat', 'saw']

In [40]:
sc1 = slice(3, 12, 2)
sc1

slice(3, 12, 2)

In [39]:
words.split()[sc1]

['cat', 'over', 'moon', 'into', 'clouds']

In [41]:
new_words = "I climbed a mountain and fly past clouds into sky"

len(new_words.split())

10

In [43]:
new_words.split()[sc1]

['mountain', 'fly', 'clouds', 'sky']

In [44]:
sky = "I SAW A STAR FALL FROM HEAVEN"
len(sky)

29

In [45]:
sky[28]

'N'

In [46]:
print(sky)

I SAW A STAR FALL FROM HEAVEN

In [47]:
sky[2:5] + sky[22:]

'SAW HEAVEN'

In [48]:
sky[8:12]

'STAR'

In [50]:
sky[8:12][::-1]

'RATS'

In [51]:
sky[-1]

'N'

In [52]:
# NEGATIVE INDEX COUNTS BACKWARDS WITH -1, INDEXIN STARTS AT ZERO, 0
sky[-6:]

'HEAVEN'

In [53]:
eval("10" + "40")

eval("10 * 40")

400

In [54]:
calc = "The final value is 40 + 37"
eval(calc[19:])

77

In [55]:
calc

'The final value is 40 + 37'

In [56]:
doc = """This -is a #DOCSTRING for -multiple 
lines of #string to 
print out -and#
can be formatted""".replace("\n", " ").replace("-", " ").replace("#", " ")
doc

'This  is a  DOCSTRING for  multiple  lines of  string to  print out  and  can be formatted'

In [57]:
doc.upper()

'THIS  IS A  DOCSTRING FOR  MULTIPLE  LINES OF  STRING TO  PRINT OUT  AND  CAN BE FORMATTED'

In [58]:
doc.lower()

'this  is a  docstring for  multiple  lines of  string to  print out  and  can be formatted'

In [59]:
"docstring" in doc.split()

False

In [61]:
doc_list = doc.split()

In [62]:
" ".join(doc_list)

'This is a DOCSTRING for multiple lines of string to print out and can be formatted'

In [63]:
bill = "This total price for the pizza and chips is $25. How will you pay?"

In [64]:
bill.split("$")

['This total price for the pizza and chips is ', '25. How will you pay?']